@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,700;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: 'taygetean_numeralsregular';
    src: url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumerals-webfont.eot');
    src: url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumerals-webfont.eot?#iefix') format('embedded-opentype'),
         url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumerals-webfont.woff2') format('woff2'),
         url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumerals-webfont.woff') format('woff'),
         url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumerals-webfont.ttf') format('truetype'),
         url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumerals-webfont.svg#taygetean_numeralsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'taygetean_numerals_slimRg';
    src: url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumeralsslim-webfont.eot');
    src: url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumeralsslim-webfont.eot?#iefix') format('embedded-opentype'),
         url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumeralsslim-webfont.woff2') format('woff2'),
         url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumeralsslim-webfont.woff') format('woff'),
         url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumeralsslim-webfont.ttf') format('truetype'),
         url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumeralsslim-webfont.svg#taygetean_numerals_slimRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'taygetan';
    src: url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygetan-webfont.eot');
    src: url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygetan-webfont.eot?#iefix') format('embedded-opentype'),
         url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygetan-webfont.woff2') format('woff2'),
         url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygetan-webfont.woff') format('woff'),
         url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/Taygetan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
:root {
  --padding: 12px;
  --grid-gap: 6px;
}
body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
app,
header,
content,
footer,
article,
section,
.typeface,
.typeface-name,
.typeface-glyphs,
.typeface-link {
  display: inline-block;
  padding: var(--padding);
  grid-gap: var(--grid-gap);
  box-sizing: border-box;
}
app {
  padding: 0;
}
header {
  background-color: #4169e1;
  color: whitesmoke;
  grid-auto-flow: column;
  align-items: center;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
header h1, header h2, h3, controls {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100vw - 260px);
    position: relative;
}
.n {
  font-family: "Taygetean Numerals";
  font-weight: normal;
  font-style: normal;
  font-size: 3rem;
  justify-self: right;
}
button {
  padding: var(--padding);
}
#myClock, #myDigital {
  justify-self: right;
}
#myClock {
    display: block;
    margin-right: -16px;
}
.clockwrapper {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: 50vw;
    max-width: 200px;
    min-width: 200px;
    height: 80px;
    flex-wrap: wrap;
    overflow-x: hidden;
}
p {
  margin: 0;
}
article,
section {
  padding: 0;
}
article header {
  background-color: inherit;
  color: inherit;
  padding: 0;
}
content, article, section, p {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    width: 100vw;
}
.typeface {
  padding: 0;
  margin-bottom: var(--padding);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
canvas#myCanvas {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    max-width: 780px;
    min-width: 320px;
}
.typeface-name {
    padding: 0;
    font-size: 26px;
    font-weight: bold;
}
.typeface-link {
    padding: 0;
    background-color: #4169e1;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    min-width: 140px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 26px;
}
.typeface-link:after {
  content: " / download";
  font-family: 'taygetan';
}
.typeface-link:hover {
  background-color: black;
}
.typeface-glyphs {
  padding: 0;
}
hr {
  width: 100%;
  color: #000;
}
