@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,700;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: 'taygetean_numeralsregular';
    src: url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumerals-webfont.eot');
    src: url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumerals-webfont.eot?#iefix') format('embedded-opentype'),
         url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumerals-webfont.woff2') format('woff2'),
         url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumerals-webfont.woff') format('woff'),
         url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumerals-webfont.ttf') format('truetype'),
         url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumerals-webfont.svg#taygetean_numeralsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'taygetean_numerals_slimRg';
    src: url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumeralsslim-webfont.eot');
    src: url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumeralsslim-webfont.eot?#iefix') format('embedded-opentype'),
         url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumeralsslim-webfont.woff2') format('woff2'),
         url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumeralsslim-webfont.woff') format('woff'),
         url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumeralsslim-webfont.ttf') format('truetype'),
         url('//raw.githubusercontent.com/zarek3333/Taygetean-Numbers/refs/heads/main/fonts/taygeteannumeralsslim-webfont.svg#taygetean_numerals_slimRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
:root {
  --padding: 12px;
  --grid-gap: 6px;
}
body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
app,
header,
content,
footer,
article,
section,
.typeface,
.typeface-name,
.typeface-glyphs,
.typeface-link {
  display: grid;
  padding: var(--padding);
  grid-gap: var(--grid-gap);
  box-sizing: border-box;
}
app {
  padding: 0;
}
header {
  background-color: #4169e1;
  color: whitesmoke;
  grid-auto-flow: column;
  align-items: center;
  position: relative;
}
.n {
  font-family: "Taygetean Numerals";
  font-weight: normal;
  font-style: normal;
  font-size: 3rem;
  justify-self: right;
}
button {
  padding: var(--padding);
}
#myClock, #myDigital {
  justify-self: right;
}
#myClock {
    display: block;
    margin-right: -16px;
}
.clockwrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    max-width: 200px;
    height: 80px;
    flex-wrap: wrap;
    position: absolute;
    right: 10px;
    overflow-x: hidden;
}
p {
  margin: 0;
}
article,
section {
  padding: 0;
}
article header {
  background-color: inherit;
  color: inherit;
  padding: 0;
}
.typeface {
  padding: 0;
  margin-bottom: var(--padding);
}
.typeface-name {
  padding: 0;
}
.typeface-link {
  padding: 0;
}
.typeface-glyphs {
  padding: 0;
}
hr {
  width: 100%;
  color: #000;
}
